<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <h1>Sobre</h1>
            <p>Me chamo Pedro de Almeida, sou estudante de Técnico em Informática, não gosto muito da área, meu objetivo é passar na especex, gosto de futebol e fórmula 1.
            </p>
        </div>
    </main>

  </body>
</html>