<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <h1>Contato</h1>
            <p>Algumas formas de entrar em contato comigo</p>
            <h2>Email</h2>
            <p>pedro.rocha04@aluno.ifce.edu.br</p>

        </div>
    </main>

  </body>
</html>