<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <h1>Portfolio</h1>
            <p>Alguns projetos feitos e que estão em desenvolvimento</p>
            <h2>RPG Top-Down</h2>
            <p>Um jogo em pixel art sendo desenvolvido pela equipe JOLP </p>
            <h2>projeto apple Academy</h2>
            <p>Um aplicativo que ajuda pessoas semi analfabetas a aprender ler com coisas do cotidiano, desenvolvido no Apple Academy por mim e mais três colegas</p>
            <h2>Wiki de guerras da idade moderna</h2>
            <p>Um site em formato de wiki para contar sobre as principais guerras da idade moderna e como elas influenciaram nosso  mundo , feito por mim</p>

        </div>
    </main>

  </body>
</html>