<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <h1>Signup</h1>
            <p>No link, coloque um nome junto do users. Por exemplo <b>/users/Pedro Conde</b>, a estrutura é <b>http://localhost:PORTA/users/NOME</b></p>

        </div>
    </main>

  </body>
</html>