<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <h1>Usuários</h1>
            <p>Olá! Seja bem-vindo! <b><%- title %></b></p>

        </div>
    </main>

  </body>
</html>